/* 
.row {
            margin-bottom: 10px;
        }

.col-sm-1, .col-sm-2, .col-sm-4, .col-sm-12{
	padding: 5px;
	text-align: center;
}
.gallery-img {
            width: 100px;
            height: 100px;
            object-fit: cover; 
            border: 1px solid #ddd;
            border-radius: 5px;
        } */